@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Inter Tight", sans-serif;
  letter-spacing: 0.02em;
}

.container {
  overflow: auto;
  height: 164px;
}

.editor {
  min-height: 100%;
  font-family: var(--font-family-code);
  font-size: var(--font-size-12);
}

.palette {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
}

.color {
  flex: 1;
  height: 40px;
  width: 40px;
  border-radius: 6px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 4px;
  position: relative;
  border-radius: 400px;
}

.colorHex {
  font-size: 12px;
  color: var(--figma-color-text);
  background-color: rgba(
    200,
    200,
    200,
    0.8
  ); /* Changed from white to a light gray */
  padding: 2px 4px;
  border-radius: 2px;
}

.uploadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed var(--figma-color-border);
  border-radius: 4px;
  cursor: pointer;
  /* background-color: #fffde8; */
}

.fileInput {
  display: none;
}

.fileInputLabel {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--figma-color-bg-brand);
  color: var(--figma-color-text-onbrand);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fileInputLabel:hover {
  background-color: var(--figma-color-bg-brand-hover);
}

.imagePreview {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 4px;
}

.imagePreview img {
  max-width: 100%;
  max-height: 100%;
}

.customTabs [aria-selected="true"] {
  /* Styles for the active tab */
  background-color: blue;
  color: yellow;
  font-weight: bold;
}
